.container {
  position: fixed;
  width: 100%;
  display: block;
  position: fixed;
  background-color: rgb(0, 0, 0, 30%);
  box-shadow: 3px 3px 11px 3px rgb(0, 0, 0, 32%);
  z-index: 2;
}

.header {
  /* min-width: 400px; */
  max-width: 1400px;
  color: royalblue;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 85px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 0 auto;
}
.ul {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
.logo {
  margin-right: auto;
  font-size: 1.5rem;
  color: deeppink;
  margin-left: 30px;
}

@media (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
  }
  .ul {
    display: none;
  }
}
