.tech {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: flex-start;
  margin: auto;
  width: 85%;
  color: #0892e7;
  height: 100%;
}
.tech h1,
.tech p {
  margin-left: 40px;
}
.ul_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.ul {
  list-style: none;
  display: flex;

  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px;
}
.ul li {
  background-color: transparent;
  font-size: 1px;
  padding: 1px;
  width: 50px;
  height: 50px;
  margin: 2px;
}

.ul li:nth-child(4),
.ul li:nth-child(3) {
  height: 48px;
  width: 48px;
  margin: 5px;
}

/* .ul li:nth-child(6) svg {
  margin: 5px;
  width: 45px;
  height: 45px;
} */

.js,
.ts {
  margin: auto;
}

.ul li div {
  filter: grayscale(1);
}
.ul li:nth-child(6) {
  filter: contrast(0);
}
.ul li:nth-child(6):hover {
  /* transition: ease-in 200ms; */
  filter: none;
}
.ul li div:hover {
  filter: none;
  transform: scale(1.25);
}
