.container {
  padding: 8px;
  justify-content: center;
  display: flex;
  color: rgba(255, 255, 255, 0.4);
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 0 16px;
}
