.div {
  padding-top: 90px;
  width: 80%;
  margin: auto;
}
.div h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: orchid;
}
.card {
  padding: 16px;
  border-radius: 12px;
  margin: 20px;
  background: transparent;
  border: 2px solid #c5056b57;
  align-items: center;
  color: #e8e8e8;
}
.card:hover {
  box-shadow: 5px 5px 15px #c5056b57 inset;
}
