.content,
.content1 {
  align-items: center;
  display: flex;
}

.content {
  min-height: 120vh;
  justify-content: space-evenly;
}
.content1 {
  height: 50vh;
  margin: 0 40px;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.textgrad {
  color: #f1f7b5;
}
.namafull {
  color: #f1f7b5;
}
.name {
  font-size: 4rem;
}
@media (max-width: 600px) {
  .content {
    display: flex;
  }
}
