.div {
  padding-top: 90px;
  width: 70%;
  margin: auto;
}
.card {
  flex-wrap: wrap;
  padding: 16px;
  border-radius: 12px;
  margin: 30px auto;
  background-color: #0a192f;
  box-shadow: 15px 15px 30px #020c1b, -15px -15px 30px #172a45;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.useridcontent {
  /* display: flex; */
  height: 100vh;
}
.userdetail {
  width: 70%;
  margin: auto;
}
.card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.02);
}
