.card {
  flex-wrap: wrap;
  padding: 16px;
  box-shadow: 6px 5px 19px rgba(255, 20, 147, 0.34);
  border-radius: 12px;
  margin: 18px;
}

.loadingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: deeppink;
  font-size: 5em;
  height: 100vh;
}
